.nav {
    grid-area: n;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: #EB5E28;
}

.item:not(.bottomItem) + .bottomItem {
    margin-top: 50px;
}